
$font-1: 'text-font', sans-serif;
$font-2: 'text-font', sans-serif;


$color-1: #FFFFFF;
$color-2: #300B3B;
$color-3: #ED8721;
$color-4: #696665;
$color-5: #B6B6B6;
$color-6: #EDEDED;
$color-7: #5C6368;
$color-8: #E4E4E4;
$color-9: #7ED321;
$color-10: #EE6742;
$color-11: #6E55FF;

$bg-color: #ED8721;
$bg-color2: #EAE3D8;
$bg-color3: rgba(255, 113, 1, 0.1);
$bg-color4: rgba(255, 113, 1, 0.06);
$bg-color5: rgba(0, 0, 0, 0.3);
$bg-color6: rgba(126, 211, 33, 0.1);
$bg-color7: rgba(110, 85, 255, 0.1);
$bg-color8: #A9B3BC;





